@page
@model SampleApplication.Pages.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <input asp-for="Employee.EmployeeId" type="hidden" class="form-control" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Employee.Name" class="control-label"></label>
                <input asp-for="Employee.Name" class="form-control" />
                <span asp-validation-for="Employee.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.EmployeeCode" class="control-label"></label>
                <input asp-for="Employee.EmployeeCode" class="form-control" />
                <span asp-validation-for="Employee.EmployeeCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Email" class="control-label"></label>
                <input asp-for="Employee.Email" class="form-control" />
                <span asp-validation-for="Employee.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Address" class="control-label"></label>
                <input asp-for="Employee.Address" class="form-control" />
                <span asp-validation-for="Employee.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.JoiningDate" class="control-label"></label>
                <input asp-for="Employee.JoiningDate" class="form-control" />
                <span asp-validation-for="Employee.JoiningDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Employee.DepartmentId" class="control-label"></label>
                <select asp-for="Employee.DepartmentId" class="form-control" asp-items="@Model.DepartmentNameSL">
                    <option value="">--Select Department--</option>
                </select>
                <span asp-validation-for="Employee.DepartmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Grade" class="control-label"></label>
                <input asp-for="Employee.Grade" class="form-control" />
                <span asp-validation-for="Employee.Grade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Employee.IsActive" /> @Html.DisplayNameFor(model => model.Employee.IsActive)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="@(Model.Employee!=null && Model.Employee.EmployeeId>0?"Update": "Create")" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
